@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
    
<div id="MapDiv" style="width: 100%; height: 800px">
</div>

@* Promociones *@
<div class="row">
    <div class="col">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/Content/assets/promo_1.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/Content/assets/promo_2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/Content/assets/promo_3.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/Content/assets/promo_4.png" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>

    </div>

</div>

<!-- Modal DETALLE -->
<div class="modal fade" id="ModalDetalle" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalles</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @* BOTONES DE LAS LETRAS *@
                <div class="row text-center">
                    <div class="col">
                        <p class="text-letra-M">M</p>
                        <p class="font-detail">$20.27</p>
                    </div>
                    <div class="col">
                        <p class="text-letra-P">P</p>
                        <p class="font-detail">$22.43</p>
                    </div>
                    <div class="col">
                        <p class="text-letra-D">D</p>
                        <p class="font-detail">$21.37</p>
                    </div>
                </div>
            </div>
            @* ICONOS DE SERVICIOS *@
            <div class="row iconos-servicios container text-center">
                <div class="col iconos-servicios-false">
                    <i class="fa-solid fa-hand-holding-droplet"></i>
                    <p>Agua</p>
                </div>
                <div class="col col-half-offset">
                    <i class="fa-solid fa-restroom"></i>
                    <p>Baño</p>
                </div>
                <div class="col col-half-offset">
                    <i class="fa-solid fa-store"></i>
                    <p>Tienda</p>
                </div>
                <div class="col col-half-offset">
                    <i class="fa-solid fa-bed"></i>
                    <p>Area de descanso</p>
                </div>
                <div class="col col-half-offset">
                    <i class="fa-solid fa-wind"></i>
                    <p>Aire</p>
                </div>
            </div>

            <br />
            @* calculadora *@
         


            @* BOTON DE RUTA *@
            <a class="btn btn-danger" href=@Url.Action("Ruta", "Home")>Cómo llegar?</a>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9YG_gSBJjxS7PCwJMUhKkyZ5LUPxOmCI"></script>
<script>
    $.ajax({
        url: '/Gasolineras/GetMapMarker',
        type: 'GET',
        success: function (data) {
            //create a blank array
            var markers = [];

            //loop the list of addresses returned from Ajax request
            $.each(data, function (index, item) {
                //create a blank array of address
                var marker = {};

                //fill data
                marker["title"] = item.PrecioMagna.toString();
                marker["lat"] = item.Latitud;
                marker["lng"] = item.Longitud;
                marker["description"] = item.PrecioMagna.toString();


                //push the current marker details in markers array
                markers.push(marker);
            })

            //call Map function with all markers passed as list of arrays
            initializeMap(markers);

        }
    });

    function initializeMap(markers) {
        //you can check your marker data in console
        console.log(markers);
        //Create Google map options
        var GoogleMapOptions = {
            center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
            zoom: 12,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };


        //create a variable of InfoWindow type to show data on clicking map icon
        var infoWindow = new google.maps.InfoWindow();
        var map = new google.maps.Map(document.getElementById("MapDiv"), GoogleMapOptions);


        //loop through each marker data
        for (i = 0; i < markers.length; i++) {
            var data = markers[i]
            //set lat long of current marker
            var myLatlng = new google.maps.LatLng(data.lat, data.lng);

            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: data.title.toString()

            });

            var infoWindow = new google.maps.InfoWindow;
            infoWindow.setContent(data.title.toString());
            infoWindow.open(map, marker);

            marker.addListener("click", () => {
                //alert("clic en el marcador");
                var myModal = new bootstrap.Modal(document.getElementById('ModalDetalle'));
                myModal.show();
            });

            //(function (marker, data) {
            //    // add a on marker click event

            //    });
            //})(marker, data);
        }
    }

</script>