body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn-admin {
    border-radius: 25px !important;
    width: 200px !important;
    padding: 10px !important;
    background-color: #43D01F;
    color: #ffffff;
}

h2, h4 {
    color: #AA226B;
    font-weight: 700;
}

.text-box-admin {
    background-color: transparent;
    color: #808080;
    outline: none;
    outline-style: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid #AA226B 3px;
   padding:3px 10px;

}
