
.background-gasolineras {
    padding-top:15px;
    padding-bottom:15px;
    background-color: #6A6964;
}
.btn-gasolineras {
    border-radius: 25px !important;
    width: 100px !important;
    padding: 10px !important;
    font-size: 10px;
}

.btn-outline-success{
    background-color:#ffffff;
}

.btn-outline-danger {
    background-color: #ffffff;
}

.btn-outline-dark {
    background-color: #ffffff;
}

.text-letra-M {
    background-color: #198754;
    color: #ffffff;
    font-weight: 900;
    border: 1px solid #ffffff;
    padding:2px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
    
}

.text-letra-P {
    background-color: #dc3545;
    color: #ffffff;
    font-weight: 900;
    border: 1px solid #ffffff;
    padding: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.text-letra-D {
    background-color: #000000;
    color: #ffffff;
    font-weight: 900;
    border: 1px solid #ffffff;
    padding: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.btn-admin {
    border-radius: 25px !important;
    width: 200px !important;
    padding: 10px !important;
    background-color: #43D01F;
    color: #ffffff;
}

.font-detail{
    font-weight:800;
    font-size:27px;
}


 .modal-dialog{
     position:fixed;
     bottom:0;
     left:0%;
     right:0%;
     transform: translate(-50%, -50%);

 }

.iconos-servicios i{
    font-size:30px;
}


.iconos-servicios-false i {
    color:#a4a4a4
}



.col-half-offset {
    margin-left: 4.166666667%
}


 